<ion-view view-title="About Us">
  <ion-content class="menu-content">
    <div class="card">
      <div class="item item-divider">
        What is iMemo?
      </div>
      <div class="item item-text-wrap">
        iMemo is an android-based mobile learning tool
          application that is designed for the students of present
          generation. It can ease the student’s process of
          studying which can help them improve their
          knowledge on their lessons.
          The letter I in iMemo symbolizes one’s self. The word
          memo is an abbreviation for memorize which
          described as acquiring information, commit to
          memory, and learn by heart. It is also an abbreviation
          for memorandum that is originated from the Latin
          verbal expression memorandum est, which is the
          gerundive form of the verb memoro – to mention, call
          to mind, recount, relate, which means it must be
    remembered.
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Developers
      </div>
      <ion-list>
        <ion-item>Anz Sly B. Sibayan</ion-item>
        <ion-item>Samantha Denise R. Mercado</ion-item>
        <ion-item>Sedrick John M. Liwag</ion-item>
        <ion-item>Terrence Gil M. Abrenilla</ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
