<ion-view view-title="About Us">
  <ion-content class="menu-content">
    <div class="card">
      <div class="item item-divider">
        What is iMemo?
      </div>
      <div class="item item-text-wrap">
        iMemo is an android-based mobile  learning tool application that is designed
        for the students of present generation that depends too much to the technology.
        It can ease the students process of studying which can help them improve their knowledge on their lessons.
        The letter <span style="font-style: italic;"><b>i</b></span> in iMemo symbolizes one's self. Memo is short for memorize,
        and according to thesaurus the word memorize means commit to memory, remember or learn by heart.
        Its process which is memorization is the process of committing something to memory.
        iMemo focuses on the goal to change the educational system,
        thus it can be used by teachers to lessen the use of paper in terms of making reviewers and quizzes.
         Its objective is to support active learning experiences inside and outside of the classroom 
         Learning modules can be developed and accessed 24/7 online to introduce and reinforce the learning of concepts and foundational
         knowledge through the integration of text, and interactive element like quizzes.
      </div>
    </div>

    <div class="card">
      <div class="item item-divider">
        Developers
      </div>
      <ion-list>
        <ion-item>Abrenilla, Terrence Gil M.</ion-item>
        <ion-item>Liwag, Sedrick John M. </ion-item>
        <ion-item>Mercado, Samantha Denise R.</ion-item>
        <ion-item>Sibayan, Anz Sly B.</ion-item>
      </ion-list>
    </div>
  </ion-content>
</ion-view>
