<ion-view cache-view="false" view-title="Download Sets">
  <ion-content class="menu-content">
    <div class="card padding" ng-if="sets.length <= 0">
      <h1 class="text-center">
        There are no sets available.
      </h1>
    </div>

    <ion-list class="list-subjects">
      <ion-item class="list-subjects__item" ng-repeat="set in sets" ng-click="viewSet(set)" ng-bind="set.name"></ion-item>
    </ion-list>

    <script id="download-set.html" type="text/ng-template">
      <ion-modal-view>
        <div class="bar bar-header bar-balanced">
          <h1 class="title">Download Set</h1>
        </div>
        <ion-content class="padding">
          <div class="card mt-5">
            <div class="item item-divider">Set Name</div>
            <div class="item item-text-wrap" ng-bind="set.name"></div>
            <div class="item item-divider">Questions</div>
            <div class="item" ng-repeat="question in set.questions">
              <div class="item-text-wrap" ng-bind="question.question"></div> -
              <b ng-bind="question.hasOwnProperty('choices') && question.choices
                ? question.choices[question.answer] : question.answer"></b>
            </div>
            <div class="item item-divider">Author</div>
            <div class="item item-text-wrap" ng-bind="set.author"></div>
            <div class="item item-divider">Uploaded On</div>
            <div class="item item-text-wrap" ng-bind="set.uploadedDate"></div>
          </div>

          <div>
            <button class="button button-assertive w-49" ng-click="closeModal()">Close</button>
            <button class="button button-balanced w-49" ng-click="downloadSet(set.id, set.origId)">Download</button>
          </div>
        </ion-content>
      </ion-modal-view>
    </script>
  </ion-content>
</ion-view>
