<ion-view view-title="Help">
  <ion-content scroll="false" class="menu-content">
    <ion-slides options="slideOptions" slider="data.slider">
      <ion-slide-page>
        <div class="box">
          <img src="img/help1.gif">
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box">
          <img src="img/help2.gif">
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box">
          <img src="img/help3.gif">
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box">
          <img src="img/help4.gif">
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box">
          <img src="img/help5.gif">
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box">
          <img src="img/help6.gif">
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box">
          <img src="img/help7.gif">
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box">
          <img src="img/help8.gif">
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box">
          <img src="img/help9.gif">
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box">
          <img src="img/help10.gif">
        </div>
      </ion-slide-page>
      <ion-slide-page>
        <div class="box">
          <img src="img/help11.gif">
        </div>
      </ion-slide-page>
    </ion-slides>
  </ion-content>
</ion-view>
