<ion-view title="Review">
  <ion-content class="menu-content">
    <div class=""
      ng-if="reviewInProgress === true">
        <div class="card">
          <div class="item item-divider">Question</div>
          <div class="item item-text-wrap"
            ng-bind="questions[questionNumber].question"></div>
        </div>
        <div class=""
          ng-if="showAnswer === true">
          <div class="card">
            <div class="item item-divider">Answer</div>
            <div class="item item-text-wrap"
              ng-bind="!questions[questionNumber].hasOwnProperty('choices')
                ? questions[questionNumber].answer
                : questions[questionNumber].choices[questions[questionNumber].answer]"></div>
          </div>
        </div>
        <br>
        <div class="padding">
          <button class="button button-balanced button-block"
            ng-click="setShowAnswer(true)" ng-if="showAnswer !== true">
              <i class="ion-eye"></i> Show Answer
          </button>
          <button class="button button-balanced button-block"
            ng-click="nextQuestion()">
              <i class="ion-arrow-right-c"></i> Next Question
          </button>
        </div>
    </div>
    <div class=""
      ng-if="reviewInProgress === false">
        <div class="card padding">
          <h2 class="title balanced text-center"><i class="icon ion-android-done"></i> All done</h2>
          <a class="button button-balanced icon-left ion-chevron-left button-block" ng-href="#/app/subjects/{{ courseName }}/{{ subjectName }}">Go Back</a>
        </div>
    </div>
  </ion-content>
  <button class="button button-balanced button-small" ng-click="openCalculator()" style="position: fixed; bottom: 10px; right: 10px;">
    <i class="ion-calculator"></i>
  </button>
</ion-view>
